body {
    margin-bottom: 100px;
}



.container-lg {
    background-color: whitesmoke;
}

.navbar {
    background-color: #DEC9B4;
}

.nav-item {
    padding: 20px;
    font-size: 2rem;

}


.jumbotron {
    margin-top: 20%;
    padding: 25%;
    background-image: url("./images/Bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.display-4 {
    padding-left: 100px;
}

.lead {
    padding-left: 150px;
}

.blankspace {
    padding: 1%;
}
#aboutMe {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}

#aboutMe-content {
    align-items: baseline;
}


#work {
    margin:20px;
    padding: 10px;
    font-size: 20px;

}


#blankWork {
    margin: 20px;
    padding: 10px;
    font-size: 20px;

}


#skills {
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}


#contactMe {
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}


#myResume {
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

.card-body {
    height: 200px;
    background-color: #DEDBCD;
}

.card-img-top {
    height: 200px;
}

.btn {
    background-color: #8C7E72;
    color: beige;

}

.btn:hover{
    transition: box-shadow 0.3s;
    box-shadow: 5px 5px 10px #8C7E72;
}
.footer {
    padding: 1.5%;
}