body {
    margin-bottom: 100px;
}



.container-lg {
    background-color: whitesmoke;
}

.navbar {
    background-color: #DEC9B4;
}

.nav-item {
    padding: 20px;
    font-size: 2rem;

}


.jumbotron {
    margin-top: 230px;
    padding: 200px;
    background-image: url("./images/Bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.display-4 {
    padding-left: 150px;
}

.lead {
    padding-left: 150px;
}